.list-cell{
    -fx-alignment: center;
    -fx-background-color:#111;
    -fx-text-fill: #FFF;
    -fx-padding: 20px;
    -fx-font-family: 'Raleway';
    -fx-font-size: 19;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #000;
    -fx-text-fill: white;
    -fx-padding: 20px;
    -fx-font-family: 'Raleway Light';
    -fx-font-size: 18;
}

.list-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
