.button{
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 18px;
    -fx-background-insets: 0;
    -fx-background-color: #DC3545;
    -fx-text-fill: #FFF;
    -fx-pref-width: 150;
    -fx-pref-height: 50;
    -fx-cursos: hand;
}