.table-view{
    -fx-text-fill: #FFF;
}

.table-row-cell .label{
    -fx-text-fill: #FFF;
}
.table-row-cell{
    -fx-cell-size: 80px;
    -fx-padding: 0 0 0 0;
    -fx-end-margin: 0px;
    -fx-start-margin: 0px;
    -fx-background-color: #222;
    -fx-table-cell-border-color: transparent;
    -fx-text-fill: #FFF;
}


.table-view .column-header{
    -fx-cell-size: 80px;
    -fx-background-color: #222;
    -fx-text-fill: #FFF !important;
    -fx-font-size: 19;
    -fx-font-family: 'Raleway';
    -fx-alignment: center;

}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-alignment: center;
}


.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view:focused .table-row-cell:focused {
    -fx-background-insets: 0 0 0 0;
    -fx-background-color: #380e7f;
    -fx-text-fill: #FFF;
    -fx-cursor: hand;
}

