.button{
    -fx-font-family: 'Alegreya Sans ExtraBold';
    -fx-font-size: 18px;
    -fx-background-insets: 0;
    -fx-background-color:  linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
    -fx-text-fill: #FFF;
    -fx-pref-width: 276;
    -fx-pref-height: 47;

}