.button{
    -fx-font-family: 'Alegreya Sans ExtraBold';
    -fx-font-size: 18px;
    -fx-background-insets: 0;
    -fx-background-color: #DC3545;
    -fx-text-fill: #FFF;
    -fx-pref-width: 284;
    -fx-pref-height: 51;
}